.list-box{
    background-color: rgba(128, 128, 128, 0.252);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, 0.393);
    width: 800px;
    margin-top: 20px;
}